* {
    align-items: center;
    background-color: antiquewhite;
}

a{
    font-size: 30px;
}

#bian_rou{
    color:red;
}

#cart-noodles{
    color:red;
}

#fried-rice{
    color: red;

}

h1 {
    font-weight: bold;
    font-size: 40px;
    color: brown;
}

